<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <script src="https://kit.fontawesome.com/5e7d2a297a.js" crossorigin="anonymous"></script>
    <!-- Style -->
    <link rel="stylesheet" href="../CSS/com-2.css">

    <title>Document</title>
</head>
<body>
    <div class="component2">
        <div class="component2-left">
            <div class="background">
                <a href="#">#Zingchart</a>
                <p>18/03/2020 20:40</p>
                <button><span><i class="fas fa-play"></i></span>Nghe tất cả</button>
                <ul>
                    <li><p>19</p></li>
                    <li><p>21</p></li>
                    <li><p>23</p></li>
                    <li><p>01</p></li>
                    <li><p>03</p></li>
                    <li><p>05</p></li>
                    <li><p>07</p></li>
                    <li><p>09</p></li>
                    <li><p>11</p></li>
                    <li><p>13</p></li>
                    <li><p>15</p></li>
                    <li><p>17</p></li>
                </ul>
            </div>
            <img src="https://picsum.photos/300/200" alt="">
        </div>
        <div class="component2-right">
            <div class="component2-item">
                <p>01</p>
                <div class="item-image">
                    <div class="background1">
                        <i class="fas fa-play"></i>
                    </div>
                </div>
                <div class="item-content">
                    <p>Hơn cả yêu</p>
                    <p>Đức Phúc <span><i class="fas fa-star"></i></span></p>
                </div>
                <p>45%</p>
            </div>
            <div class="component2-item">
                <p>02</p>
                <div class="item-image">
                    <div class="background1">
                        <i class="fas fa-play"></i>
                    </div>
                </div>
                <div class="item-content">
                    <p>Hơn cả yêu</p>
                    <p>Đức Phúc <span><i class="fas fa-star"></i></span></p>
                </div>
                <p>45%</p>
            </div>
            <div class="component2-item">
                <p>03</p>
                <div class="item-image">
                    <div class="background1">
                        <i class="fas fa-play"></i>
                    </div>
                </div>
                <div class="item-content">
                    <p>Hơn cả yêu</p>
                    <p>Đức Phúc <span><i class="fas fa-star"></i></span></p>
                </div>
                <p>45%</p>
            </div>
            <div class="component2-item">
                <p>04</p>
                <div class="item-image">
                    <div class="background1">
                        <i class="fas fa-play"></i>
                    </div>
                </div>
                <div class="item-content">
                    <p>Hơn cả yêu</p>
                    <p>Đức Phúc <span><i class="fas fa-star"></i></span></p>
                </div>
                <p>45%</p>
            </div>
            <div class="component2-item">
                <p>05</p>
                <div class="item-image">
                    <div class="background1">
                        <i class="fas fa-play"></i>
                    </div>
                </div>
                <div class="item-content">
                    <p>Hơn cả yêu</p>
                    <p>Đức Phúc <span><i class="fas fa-star"></i></span></p>
                </div>
                <p>45%</p>
            </div>
        </div>
    </div>
</body>
</html>